@import url(./__container/popup-image___container.css);
@import url(./__close/popup-image__close.css);
@import url(./__picture/popup-image__picture.css);
@import url(./__title/popup-image__title.css);

.popup-image {
  display: flex;
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  visibility: hidden;
  opacity: 0;
  transition: visibility .2s, opacity 0.2s linear;
}
