.profile__avatar {
  width: 125px;
  height: 125px;
  background-image: url(../../../images/strangefox.jpg);
  border-radius: 50%;
  margin-right: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


@media (max-width:700px) {
  .profile__avatar {
    margin: 38px 0px 10px 0px;
  }
}
