.popup-newplace__close {
  width: 40px;
  height: 40px;
  background: transparent;
  background-image: url(../../../images/close-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border:none;
  position: absolute;
  top: -40px;
  right: -40px;
}


.popup-newplace__close:hover {
  cursor: pointer;
  opacity: .6;
}

.popup-newplace__close:focus {
  outline: none;
}
